.project-detail {
    justify-items: left;
    justify-content: start;
    align-items: start;
}

.project-detail a{
    color: #333333;
    font-family: "Jacques Francois", serif
}

.project-detail img {
    height: auto;
    width: 80%;
    border: #333333 1px solid;
    margin-bottom: 40px;
}
.project-detail ul {
    justify-items: left;
    margin-left: 15px;
}